<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgba(144, 238, 144, 0.8);">
        <div class="container d-flex flex-wrap">
            <a class="navbar-brand" href="/"><img src="..\static\imagens\LOGO.png" class="logo" style="width:100px;height:100px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user">User Page</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Pages without Login</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="page_01">Page 01</a></li>
                            <li><a class="dropdown-item" href="page_02">Page 02</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="danger">Not Trespassing</a></li>
                        </ul>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="login" class="nav-link link-body-emphasis px-2">Login</a></li>
                    <li class="nav-item"><a href="logout" class="nav-link link-body-emphasis px-2">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="py-1 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg></a>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
        </div>
    </header>
    <div class="container-fluid">
    {% block content%}
    {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>


<footer>
    {% block footer %}
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-bottom">
        <div class="mt-1 p-1 bg-dark text-white text-center" name="footer">
            <p>Desenvolvido por PROGRAMAÇÂO. Todos os direitos reservados.</p>
        </div>
    </nav>
    {% endblock %}
</footer>

</body>
</html>
