{% extends "base.html" %}
{% block title%}PAGE_01{% endblock %}
{% block content %}

<h1>Page 01 - Some musics</h1>
<p>The Most of the songs below are little known to the general public.</p>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Duel With The Devil</h5>
                <p class="card-text">Transatlantic</p><br>
                <!-- Modal 01-->
                <div class="modal fade" id="Modal01" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Duel With The Devil (Transatlantic)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
    I: Motherless Children
    Have you woke up screaming in the silence of the night?
    You wish you could start dreaming in clouds of white
    But everything could change tonight
    When you duel with the devil living in your mind

    Time reveals nothing - it's a suicide love affair
    Whispers in the darkness and revolution in the air
    Will you see or look behind
    When you duel with the devil living in your mind

    Motherless children
    Wandering nowhere
    Feels like there's miles to go
    Reaching for water
    Longing to go there
    Flooding into your soul
    Into your soul

    Do you know the difference between who and what you are
    Will you ride off in the distance like some highway star
    Will you try until you make it good
    Or will you sell your body down in hollywood

    Motherless children
    Wandering nowhere
    Feels like there's miles to go
    Reaching for water
    Longing to go there
    Flooding into your soul
    Into your soul...

    II: Walk Away

    There's a time to understand
    There's a time to see the sun
    There's a time for makin up
    There's a time to come together

    Fall into the learning curve
    Feeding on experience
    Never turn your back on me
    Never paint it black by numbers

    It's so easy to waste away
    It's a simple operation
    Far too many givin' in
    Fall into dark temptations

    Everybody needs a King
    Everybody needs a Captain
    When you hear the fallen angels sing
    in your private Armaggedon

    And you walk away
    (With nowhere to go)
    For another day
    (Turn the lights down low)
    But you'll never know
    (While you walk away)
    When you walk away with nowhere to go

    Everybody had their doubts
    So they tried to pull me under
    Everytime i felt the strain
    Someone sent a sense of wonder

    Everybody walked the hard road
    In the dark they felt the grind
    Everybody heard the thunder
    No one ever read the signs

    And you walk away
    (With nowhere to go)
    For another day
    (Turn the lights down low)
    But you'll never know
    (While you walk away)
    When you walk away with nowhere to go

    III: Silence of the Night

    Have you woke up screaming in the silence of the night?
    You wish you could start dreaming but it's always black and white
    Looking for that big sky that'll finally make it right
    Well everything could change tonight

    IV: You're Not Alone

    Nighttime falls it came too fast
    Down the halls tiptoeing past
    Out come the shadows of life itself
    To clap along and wish you well

    Motherless children
    Wandering nowhere
    Look up you're almost home
    Reaching for water
    Longing to know you're not alone

    V: Almost Home

    Have you woke up screaming in the silence of the night?
    You wish you could start dreaming in black and white
    Well everything could change tonight
    When you duel with the devil living in your mind

    Motherless children
    Wandering nowhere
    Feels like there's miles to go
    Reaching for water
    Longing to go there
    Flooding into your soul
    Into your soul...
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal01">
                    Access the music
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">These Walls</h5>
                <p class="card-text">Dream Theater</p><br>
                <!-- Modal 02 -->
                <div class="modal fade" id="Modal02" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">These Walls (Dream Theater)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
    This is so hard for me
    To find the words to say
    My thoughts are standing still
    Captive inside of me
    All the motions start to hide
    And nothing's getting trough
    Watch me fading
    I'm losing all my instincts
    Falling into darkness
    
    Tear down these walls for me
    Stop me from going under
    You are the only one who knows I'm holding back
    It's not too late for me
    To keep from sinking further
    I'm trying to find my way out
    Tear down these walls for me now
    
    So much uncertainty
    I don't like this feeling
    I'm sinking like a stone
    Each time I try to speak
    There's a voice I'm hearing
    And it changes everything
    Watch me crawl from the wreckage of my silence
    Conversation fading
    
    Tear down these walls for me
    Stop me from going under
    You are the only one who knows I'm holding back
    It's not too late for me
    To keep from sinking further
    I'm trying to find my way out
    Tear down these walls
    
    Every time you choose to turn away
    Is it worth the price you pay?
    Is there someone who will wait for you?
    One more time
    One more time
    
    Tear down these walls for me
    Stop me from going under
    You are the only one who knows I'm holding back
    It's not too late for me
    To keep from sinking further
    I'm trying to find my way out
    Tear down these walls for me now
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal02">
                    Access the music
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What Is Life</h5>
                <p class="card-text">George Harrison</p><br>
                <!-- Modal 03 -->
                <div class="modal fade" id="Modal03" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">What Is Life (George Harrison)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
    What I feel, I can't say
    But my love is there for you anytime of day
    But if it's not love that you need
    Then I'll try my best to make everything succeed
    
    Tell me, what is my life without your love
    Tell me, who am I without you, by my side
    
    What I know, I can do
    If I give my love now to everyone like you
    But if it's not love that you need
    Then I'll try my best to make ev'rything succeed
    
    Tell me, what is my life without your love
    Tell me, who am I without you, by my side
    Tell me, what is my life without your love
    Tell me, who am I without you, by my side
    
    What I feel, I can't say
    But my love is there for you any time of day
    But if it's not love that you need
    Then I'll try my best to make everything succeed
    
    Tell me, what is my life without your love
    Tell me, who am I without you, by my side
    Oh tell me, what is my life without your love
    Tell me, who am I without you, by my side
    
    What is my life without your love
    Tell me, who am I without you, by my side
    
    Oh tell me, what is my life without your love
    Tell me who am I without you by my side
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal03">
                    Access the music
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Baba O'Riley</h5>
                <p class="card-text">The Who</p><br>
                <!-- Modal 04-->
                <div class="modal fade" id="Modal04" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Baba O'Riley (The Who)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
        Out here in the fields
        I farm for my meals
        I get my back into my living
        I don't need to fight
        To prove I'm right
        I don't need to be forgiven
        
        Don't cry
        Don't raise your eye
        It's only teenage wasteland
        
        Sally, take my hand
        We'll travel south cross land
        Put out the fire
        Don't look past my shoulder
        
        The exodus is here
        The happy ones are near
        Let's get together
        Before we get much older
        
        Teenage wasteland
        It's only a teenage wasteland
        Teenage wasteland
        Oh, yeah
        Teenage wasteland
        They're all wasted!
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal04">
                    Access the music
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">I Want You Back</h5>
                <p class="card-text">The Jackson 5</p><br>
                <!-- Modal 05-->
                <div class="modal fade" id="Modal05" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">I Want You Back (The Jackson 5)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
    Uh, huh, huh, huh, uh
    Let me tell ya now
    Uh, huh (uh)
    
    When I had you to myself
    I didn't want you around
    Those pretty faces always made you
    Stand out in a crowd
    
    But someone picked you from the bunch
    One glance was all it took
    Now it's much too late for me
    To take a second look
    
    Oh, baby, give me one more chance (to show you that I love you)
    Won't you please let me back in your heart?
    Oh, darlin', I was blind to let you go (let you go, baby)
    But now since I see you in his arms (I want you back)
    
    Yes, I do now (I want you back)
    Oh, oh, baby (I want you back)
    Yeah, yeah, yeah, yeah (I want you back)
    Na, na, na, na
    
    Tryin' to live without your love
    Is one long sleepless night
    Let me show you, girl
    That I know wrong from right
    
    Every street you walk on
    I leave tear stains on the ground
    Following the girl
    I didn't even want around
    Let me tell you now
    
    Oh, baby, all I need is one more chance (to show you that I love you)
    Won't you please let me back in your heart?
    Oh, darlin', I was blind to let you go (let you go, baby)
    But now since I see you in his arms, uh, huh
    
    (A boom, boom, boom, boom)
    A boom, boom, boom, boom, all I want
    A boom, boom, boom, boom, all I need
    A boom, boom, boom, boom, all I want
    A boom, boom, boom, boom, all I need!
    
    Oh, just one more chance
    To show you that I love you
    Baby (baby!)
    Baby (baby!)
    Baby (baby!)
    
    Forget what happened then
    Let me live again
    
    Oh, baby, I was blind to let you go
    But now since I see you in his arms
    
    Spare me of this 'cause
    Gimme back what I lost
    
    Oh, baby, I need one more chance, hah
    I tell ya that I love you
    Oh (oh), oh (oh), I want you back!
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal05">
                    Access the music
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wind At My Back</h5>
                <p class="card-text">Spock's Beard</p><br>
                <!-- Modal 06-->
                <div class="modal fade" id="Modal06" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Wind At My Back (Spock's Beard)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <pre>
    THE HOMELESS:
    How can you be
    Like a sky stretched out before me
    And the world is turning your way
    Even darkness is better this way
    
    Can it be true
    That it all comes rushing from you
    When my resistance is gone
    And there's nothing that I can lean on
    
    You are the wind at my back
    You give what I lack
    You're the jewel in my hand
    You're like rain on dry land
    
    You're the focus the beam
    You're realities dream
    You're the blue in my black
    You're the wind at my back
    
    All of the above
    I'II have the lot for my love
    And as we're becoming somehow
    As we're changing the future to now
    
    I just want to live
    In the place that you have to give
    I'll let the heat beat me down
    Until the water comes down
    
    You are the wind at my back
    You give what I lack
    You're the jewel in my hand
    You're like rain on dry land
    
    Yon're the focus the beam
    You're realities dream
    You're the blue in my black
    You're the wind at my back
    
    You are the wind at my back
    You give what I lack
    You're the jewel in my hand
    You're like rain on dry land
    
    And my soul has been kissed
    Just because you exist
    You're the dream that's a fact
    You're the wind at my back
    
    You're the wish that I make
    You're the prize I might take
    You're the gold that is free
    You're the groom on one knee
    
    You're the focus the beam
    You're realities dream
    You're the blue in my black
    You're the wind at my back
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal06">
                    Access the music
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock %}