<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div id="form_fundo">
        <h1>LOGIN</h1><br>
        <div id="form_frente">
            <form action="/login" method="POST">
                <label for="nome"> E-MAIL </label>
                <input type="email" name="email" placeholder="Inserir um e-mail "><br><br>
                <label for="nome"> SENHA </label>
                <input type="password" name="password" placeholder="*********">
                <br><br><br><br>
                <input type="submit" value="ACESSAR">

            </form>
        </div>
    </div>
</body>

</html>
