{% extends "base.html" %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}
<h3>Teste 123</h3>
<p>Esse conteúdo está escrito na página de 'conteudo.html'</p><br><br>
<h3>Sobre a barra de Navegação acima...</h3>
        <p>A Barra de Navegação foi copiada do próprio site do bootstrap.</p>
        <p>A parte do CSS foi colocada bem no início do 'head'. </p>
        <p>A parte do JS foi colocado bem no final do 'body'.</p>
        <p>As tags e links fora colocados bem no início do 'body', antes de texto, título etc.</p>
        <p>Como essas informações não são permanentes, elas foram colocadas na página de conteúdo.</p>
        <br><br>
{% endblock %}